<h1><%= @pet.name %></h1>
<p><strong>Age: </strong> <%= @pet.age %> years old</p>
<p><strong>Breed:</strong> <%= @pet.breed %></h3>
<p><strong>Adoptable?</strong> <%= @pet.adoptable %></p>
<p><strong>Shelter:</strong><%= @pet.shelter_name %></h3>

<p><%= link_to "Update #{@pet.name}", "/pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %></p>
